body {
  background: #0E0B16;
  color: #E7DFDD
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 125%;
  background-color: #4717F6;
}

h1 {
  font-size: 225%;
  font-weight: 700;
}

h2 {
  font-size: 300%;
}

img {
  margin-top: 60px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 125%;
}

.navbar {
  font-size: 110%;
}

.nav-link {
  color: #E7DFDD
} 

.active {
  background-color: #A239CA;
}

.about-me {
  font-size: 150%;
  font-weight: 500;
}

.resume {
  font-size: 150%;
}

.resume-text {
  display: inline;
}

.resume-link {
  display: inline;
}