body {
  background: gray;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 125%;
  background-color: crimson;
}

h1 {
  font-size: 225%;
  font-weight: 700;
}

h2 {
  font-size: 300%;
}

img {
  margin-top: 60px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 125%;
}

.navbar {
  font-size: 110%;
  background-color: lightgray;
}

.active {
  background-color: darkgray
}

.about-me {
  font-size: 150%;
  font-weight: 500;
}

.resume {
  font-size: 150%;
}

.resume-text {
  display: inline;
}

.resume-link {
  display: inline;
}