body {
  background: darkgray;
  color: #E7DFDD
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 125%;
  background-color: #D1001C;
}

h1 {
  font-size: 225%;
  font-weight: 700;
}

h2 {
  color: #000435;
  font-size: 300%;
}

p {
  color: #000435;
}

img {
  margin-top: 60px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 125%;
}

form {
  color: #000435;
}

input {
  width: 400px;
}

textarea {
  width: 1200px;
  resize: none;
}

.navbar {
  font-size: 110%;
}

.nav-link {
  color: #E7DFDD;
} 

.active {
  color: #E7DFDD !important;
  background-color: #000435;
}

.about-me {
  font-size: 150%;
  font-weight: 500;
}




.accordion-button {
  color: #E7DFDD;
  background-color: #D1001C !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #E7DFDD;
}

.accordion-body {
  background-color: #000435;
  color: #E7DFDD
}

.resume {
  font-size: 150%;
}

.resume-text {
  display: inline;
}

.resume-link {
  display: inline;
}